.pin-header{
    margin-left: 10px;

    .store-location {
        color: #4f4f4f;
    }

    .display-data {
        display: flex;
        gap: 20px;
     }

     

    .label-heading{
        font-size: initial;
        font-weight: 500;
    }

    .select-data{
        border: 3px solid darkgray;
        height: 52px;
        width: 190px;
        line-height: 50px;
        font-size: 15px;
        text-transform: uppercase;
        text-indent: 7px;
        color: #464646;
        padding: 0;
    }

    .input-field{
        border: 2px solid darkgray;
        
    }

    .span-dav {
        color: red;
    }
}

.button-dev {
    .btn {
    background-color: #f58220;
    color: white;
    border: 1px solid #f58220;
    //margin-top: 0px;
    margin: 0 28px 0 28px;
    // margin-left: 20px;
    width: 160px;
    height: 50px;
    font-size: 15px;
    }
}

.product-stick{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 240px;
    row-gap: 4em;
    width: 300px;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 0;
    margin-bottom: 50px;

    .storeAddress{
        display: flex;
        justify-content: flex-start;
        border: solid 2px  darkgray;
        height: 280px;
        width: 270px;
        padding: 8px;
        margin: 4px;
        font-weight: 400;
        background-color: #efefef;
    }

    .floatLeft {
        width: 180px;
    }

    .address{
        font-size: 14px;
        font-weight: 400;
        color: black;
    }

    .address span p {
        font-size: 14px;
        font-weight: 400;
        color: black;
    }

    .mobile {
        font-size: inherit;
        color: #f58220;
    }

    .mapLink{
        cursor: pointer;
        border: 1px solid #f58220;
        background: #f58220;
        display: flex;
        height: 32px;
        line-height: 32px;
        text-align: center;
        width: 100px;
        color: #fff;
        font-weight: 400;
        padding: 2px;
        margin: 4px;
    }

}

.store-container{text-align: center;}
.search-container{text-align: center;justify-content: center;}
.search-container .pin-pane{position: relative;}
.store-container::placeholder {
  text-align: center; 
}

/* or, for legacy browsers */

.store-container ::-webkit-input-placeholder {
  text-align: center;
}

.store-container :-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

.store-container ::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

.store-container :-ms-input-placeholder {  
  text-align: center; 
}
.store-container .btn-storelocator-search{
background-color: #fff;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    border: 0;
    background-color: inherit;
    padding-right: 20px;
}
.store-container .fa-map-marker{
  position: absolute;
  top: 12px;
  left: 33px;
  font-size: 26px;
}
.store-container .card-title-left{font-weight: bold;}
.result-container{    margin-top: 50px;
  }
  .nrf{text-align: center;
    justify-content: center;
    font-size: 22px;}
.search-by-city{cursor: pointer;}